@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet');

* {
    font-family: 'Light 400', ubuntu;
    color: white;
    background: darkslategray;
}

#content,
#buttons {
    margin-left: 50px;
}

@media screen and (max-width: 675px) {

    #content,
    #buttons {
        margin-left: 10px;
    }
}

.image {
    position: absolute;
    left: 50%;
    margin-top: 120px;
    padding-bottom: -200px;
    transform: translate(-50%, -50%);
}

.searchbtn {
    font-size: 20px;
    background: none;
    margin-left: 15px;
    border: none;
    cursor: pointer
}

.search {
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%);
    display: flex;
    align-content: center;
}

.input {
    outline: none;
    border: 1px solid gray;
    width: 15vmax;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
}

.buttons {
    display: none;
		padding-top: 300px;
}

.all {
    font-size: 20px;
    background: darkslategray;
    border: none;
    cursor: pointer
}
