@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet');

* {
    font-family: 'Light 400', ubuntu;
    background: rgb(248,249,250);
}

#content,
#buttons {
    margin-left: 50px;
}

@media screen and (max-width: 675px) {

    #content,
    #buttons {
        margin-left: 10px;
    }
}

.image[width="400"] {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 49.7%;
    margin-top: 10%;
    padding-bottom: -200px;
    transform: translate(-50%, -50%);
}

.searchbtn {
    font-size: 20px;
    background: none;
    margin-left: 15px;
    border: none;
    cursor: pointer
}

.search {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.search input[type=search]{
    background-color: rgb(255, 255, 255);
    width: 40vmax;
    border-radius: 30px;
    outline: none;
<<<<<<< HEAD
=======
    border: 1px solid gray;
    width: 15vmax;
    height: 35px;
    border-radius: 20px;
>>>>>>> ce75b188e989fbddeccc4dd5d8b8817ac1a7ed7f
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 2px rgb(0, 0, 0);
}

.buttons {
    display: none;
		padding-top: 300px;
}

.all {
    background: rgb(248,249,250);
    border: none;
<<<<<<< HEAD
    cursor: pointer;
}
=======
    cursor: pointer
}
>>>>>>> ce75b188e989fbddeccc4dd5d8b8817ac1a7ed7f
